{% extends "base.html" %}

{%block content%}
  <h1>Home</h1>
  <hr>
  <div>
    <a class="btn btn-default" href="controls"><i class='fas fa-cog'></i></a>
    <a class="btn btn-default" href="thermostat"><i class='fas fa-temperature-high'></i></a>
    <a class="btn btn-default" href="weather"><i class='fas fa-cloud-sun-rain'></i></a>
  </div>
  <div>
    <a class="btn btn-default" href="usages">$</a>
    <a class="btn btn-default" href="info"><i class='fas fa-info'></i></a>
    <a class="btn btn-default" href="about">?</a>
  </div>
  <hr>

{%endblock%}
