{% extends "base.html" %}
{% block content %}

<script>
function shifter(a){
  var active = document.getElementById(a);
  if (active.id === "False"){
    active.id = "True";
    console.log(active.id);
    return true;
}
  else{
    if(active.id === "True"){
      active.id= "False";
      console.log(active.id);
      return false;
    }
  }
}
</script>
<h1> Master Bedroom </h1>
<table class="table">
    <th>
      <image src= "static\MasterBed.jpg" style = "width:75%; height:125%">
    </th>
    <th>
      <table>
        <tr>
          <td>
            <label for = "Master_Light"> Light</label>
          <td>
              <form method="POST" name = "Master_Light">
                <input type = "radio" name = "MasterLight" id = "MasterLight" value="ON" onchange="this.form.submit()"> ON</input>
                <input type = "radio" name = "MasterLight" id = "MasterLight" value="OFF" onchange="this.form.submit()"> OFF</input>
                <a class= "btn btn-large" id = "{{ml}}"></a>
              </form>
          </td>
        </td>
        </tr>
        <tr>
          <td>
            <label for="Master_Lamp1"> Lamp1</label>
          </td>
          <td>
            <form method="POST" name = "Master_Lamp1">
              <input type = "radio" name = "Master_Lamp1" id = "Master_Lamp1" value="ON" onchange="this.form.submit()"> ON</input>
              <input type = "radio" name = "Master_Lamp1" id = "Master_Lamp1" value="OFF" onchange="this.form.submit()"> OFF</input>
              <a class= "btn btn-large" id = "{{ml1}}"></a>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <label for = "Master_Lamp2"> Lamp2</label>
          </td>
          <td>
            <form method="POST" name = "Master_Lamp1">
              <input type = "radio" name = "Master_Lamp2" id = "Master_Lamp2" value="ON" onchange="this.form.submit()"> ON</input>
              <input type = "radio" name = "Master_Lamp2" id = "Master_Lamp2" value="OFF" onchange="this.form.submit()"> OFF</input>
              <a class= "btn btn-large" id = "{{ml2}}"></a>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <label for = "Master_TV">TV</label>
          </td>
          <td>
              <a class= "btn btn-large" id = "{{mtv}}"></a>
          </td>
        </tr>
        <tr>
          <td>
            <label for = "Master_Window1">Window1</label>
          </td>
          <td>
              <a class= "btn btn-large" id = "{{mw1}}"></a>
          </td>
        </tr>
        <tr>
          <td>
            <label for = "Master_Window2">Window2</label>
          </td>
          <td>
              <a class= "btn btn-large" id = "{{mw2}}"></a>
          </td>
        </tr>
       </th>
      </table>
    </th>
</table>
{%endblock%}
